<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="annotationsPackage" parallel="tests">
    <parameter name="browserName1" value="ChromeBrowser"/>
    <parameter name="browserName2" value="FireFoxBrowser"/>
    <test name="AnnotationsLearn">
        <classes>
            <class name="annotationsPackage.AnnotationsLearn"/>
            <class name="annotationsPackage.LoginAssessment"/>
        </classes>
    </test>
</suite>