<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <parameter name="browser" value="ChromeBrowser"/>
    <test name="SwagLabs">
        <classes>
            <class name="swagLabsPackage.AutomateProductAddToCartInSwagLabs"/>
        </classes>
    </test> <!-- SauceLabs -->
</suite> <!-- Default Suite -->
